# Laravel-specific files and directories
/vendor/
/node_modules/
/.env
.env.backup
.phpunit.result.cache
.php_cs.cache
.php_cs
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
yarn.lock
mix-manifest.json
storage/*.key
.env.testing
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.bootstrap/cache/*
.idea/
.vscode/
*.log
*.lock
*.tmp
*.tmp~
.DS_Store
Thumbs.db
composer.lock
package-lock.json
*.sqlite
*.sqlite3